.page_footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #DDDDDD;
}

.policy {
    font-size: 16px;
    color: #9CA3AF;
}

.social_links {
    display: flex;
    
    .social_link {
        margin-right: 21px;
    }
}