<form class="form">
    <div class="basic_information">
        <h2>Основная информация</h2>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
    </div>
    <div class="additional_information">
        <h2>Дополнительная иноформация</h2>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
        <div class="property">
            <div class="name"></div>
            <input class="input_default">
        </div>
    </div>
</form>