<ngx-flicking class="flicking" [options]="{ circular: true }">
    <div flicking-panel class="panel">
        <div class="right_side">
            <h1 class="header">Курица с томатным соусом</h1>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim 
            </div>
        </div>
        <div class="left_side">
            <img src="https://ea-backend.wckz.space/dist/assets/image/image_1.png">
        </div>
    </div>
    <div flicking-panel class="panel">2</div>
    <div flicking-panel class="panel">3</div>
    <div flicking-panel class="panel">4</div>
    <div flicking-panel class="panel">5</div>
    <div flicking-panel class="panel">6</div>
</ngx-flicking>
