<div class="register_main">
  <div class="header">Войдите в ваш аккаунт</div>
  <div class="form">
    <form (ngSubmit)="submitForm()" [formGroup]="loginForm" autocomplete="off">
      <div class="form_content">
        <div class="form_row">
          <label class="label">Логин</label>
          <input
            class="input"
            formControlName="username"
            [ngClass]="{ 'has-error': loginForm.get('username')?.invalid }"
          />
        </div>
        <div class="form_row">
          <label class="label">Пароль</label>
          <input
            type="password"
            class="input"
            formControlName="password"
            [ngClass]="{ 'has-error': loginForm.get('password')?.invalid }"
          />
        </div>
        <div class="form_row">
          <div class="settings">
            <div class="check">
              <input type="checkbox" class="input" />
              <label class="label">Запомнить меня</label>
            </div>
            <a class="link" routerLink="/register">Зарегистрироваться</a>
          </div>
        </div>

        <button
          class="btn primary"
          [ngClass]="{ disabled_button: isSubmitted && loginForm.invalid }"
          [disabled]="isSubmitted && loginForm.invalid"
        >
          Вход
        </button>
      </div>
    </form>
    <div class="divider">
      <hr />
      <p>Или войти через</p>
      <hr />
    </div>
    <button class="btn auth_github">
      <icon-github></icon-github>
    </button>
  </div>
</div>
