h2 {
    color: rgba(17, 24, 39, 1);
    font-weight: 600;
    font-size: 18px;
}

.underline {
    border-bottom: 1px solid #E5E7EB;
}

.form {
    margin: 40px 0px;
    
    .section {
        margin: 40px 0px 20px 0px;
    }

    .property {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 80px;

        .name {
            min-width: 400px;
            font-weight: 500;
            color: #374151;
        }

        .input {
            margin: 20px 0px; 
            
            &_default{
                width: 320px;
            }

            &_extend {
                width: 512px;
            }

            &.textarea {
                resize: vertical;
                min-height: 93px;
                width: 512px;
                padding: 9px 13px;
            }
        }
    }

    .btn {
        height: 50px;
        font-weight: 500;
        font-size: 16px;
    }

    .submit {
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
    }
}