<div class="register_main">
    <div class="header">
        Зарегистрируйте ваш аккаунт
    </div>
    <div class="form">
        <form>
            <div class="form_content">
                <div class="form_row">
                    <label class="label">Логин</label>
                    <input class="input">
                </div>
                <div class="form_row">
                    <label class="label">Пароль</label>
                    <input class="input">
                </div>
                <div class="form_row">
                    <a routerLink=""></a>
                </div>
                <button type="submit" class="btn primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>