.container {
    margin: 50px 80px;

    .best_recipes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(400px, 1fr));
            gap: 40px;
    
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 16px;


                border-radius: 30px;
                background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);

                .img {
                    width: 368px;
                    height: 250px;
                    border-radius: 30px;
                    background-color: lightgreen;
                }
            }
        }
    }

} 