<app-slider></app-slider>
<div class="container">
  <div class="best_recipes">
    <h1>Лучшие рецепты</h1>
    <p class="description">
      На нашем сайте вы найдете лучшие рецепты, которые помогут вам создавать
      великолепные блюда и порадовать своих близких и гостей своим кулинарным
      мастерством.
    </p>
    <div class="cards">
      <div class="card">
        <div class="img"></div>
        <h1>Большой и сочный чизбургер из говядины</h1>
      </div>
      <div class="card">dasda</div>
      <div class="card">dasda</div>
    </div>
  </div>
</div>
