<app-slider [recipes]="favoriteRecipes"></app-slider>
<div class="container">
    <section class="best_recipes">
        <div class="top">
            <h1 class="header">Лучшие рецепты</h1>
            <p class="description">
                На нашем сайте вы найдете лучшие рецепты, которые помогут вам создавать
                великолепные блюда и порадовать своих близких и гостей своим кулинарным
                мастерством.
            </p>
        </div>
        <div class="cards">
            <ng-container *ngFor="let recipe of bestRecipes">
                <app-recipe-card [recipe]="recipe"></app-recipe-card>
            </ng-container>
        </div>
        <div class="load_more">
            <div class="btn outline" (click)="loadMoreRecipes()" *ngIf="showMoreButton">
                Посмотреть еще
            </div>
        </div>
    </section>
    <section class="recommended_recipes">
      <div class="info">
        <h1 class="header">Попробуйте эти вкусные рецепты</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
      </div>
      <div class="list">
        <ng-container *ngFor="let recipe of recommendedRecipes">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
      </ng-container>
      </div>
    </section>
    <section class="why_us">
        <h1 class="header">Почему именно мы?</h1>
        <div class="points">
            <div class="point" *ngFor="let point of whyUsPoints">
                <img class="check" src="/assets/images/check.svg">
                <div class="data">
                    <h3 class="name">{{ point.name }}</h3>
                    <p class="description">{{ point.body }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="content">
            <div class="text">
                <h1 class="title">Хотите получать новые рецепты?</h1>
                <p class="description">Не пропустите ни одного вкусного рецепта! Подпишитесь на нашу рассылку, чтобы получать новые кулинарные идеи и рецепты прямо в свою почту.</p>
            </div>
            <div class="email_form">
                <input class="input" type="email" placeholder="Введите ваш email...">
                <button class="btn primary">Подписаться</button>
            </div>
        </div>
    </section>
</div>
<section class="notification">
    <div class="content">
        <div class="info">
            <img src="/assets/images/rupor.svg">
            <p class="text">Хорошие новости! Мы открыли наш интернет-магазин</p>
        </div>
        <img class="close" src="/assets/images/close.svg">
    </div>
</section>