.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px 80px;

  .header {
    font-size: 60px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    width: 100%;
  }
}
